body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000000;
    font-family: 'Arial', sans-serif;
}

#container {
    width: 100vw;
    height: 100vh;
    cursor: grab;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#container.loaded {
    opacity: 1;
}

#container:active {
    cursor: grabbing;
}
