#project_card {
    width: 90%;
    height:90%;
    background-color: #a5a5a5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;
    position: absolute;
    display: none;
    text-align: center;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto; /* Add this line */
}

#close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #777777;
    border-color: black;
}

body { margin: 0; }

body::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-image: url('public/grana.png');
    background-repeat: repeat; /* Add this line */
    background-size: auto; /* Change this line */
    background-position: center;
	mix-blend-mode: multiply;
	z-index: 9999;
	opacity: 0.2;
	pointer-events: none; /* Add this line */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at center, transparent, black 90%);
    opacity: 0.5;
    pointer-events: none;
    z-index: 10000;
}

.gallery-container{
    margin-top: 30px;
}

.gallery-container ul {
    list-style-type: none; /* Add this line */
	&.masonry-gallery {
		columns: 12rem;
		column-gap: 1rem;

		li {
			break-inside: avoid;
			margin: 0 0 1rem;
		}
	}
	
	&.mosaic-gallery {
		display: flex;
			flex-wrap: wrap;
		margin: 0 -0.5rem;

		li {
			background-position: center center;
			background-size: cover;
			flex: auto;
			height: 50vw;
			margin: 0 0.5rem 1rem;
			max-height: 20rem;

			img {
				height:100%;
				opacity: 0;
			}
		}
	}
}

